{% extends 'base/base.html'%}
{% block page_content %}
 <!-- Dropdown Card Example -->
 <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Listado de envios</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones:</div>
          <a class="dropdown-item" onClick=" return abrir_modal('{% url 'fac:envio_new' %}')"><i class="far fa-calendar-plus"></i> Nuevo</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if not obj  %}
        <div class="alert alert-info">No hay envios</div>
            {% else %}
            
        
        <table class="table table-striped table-hover" style="max-width:100vp;" >
            <thead>
                <th>Id</th>
                <th>Detalles</th>
                <th>fecha de registro</th>
                <th>n° boleta</th>
                
                <th>fecha entrega</th> 
                <th>fecha verificada</th>  
                <th>condicion</th>
                <th class="all" >Acciones</th>
            </thead>
            <tbody>
                {%for item in obj  %}
                <tr>
                    <td>{{item.id}}</td>
                    <td style="max-width:150px;overflow:hidden; white-space:nowrap;text-overflow: ellipsis;" data-toggle="tooltip" data-placement="top" title="{{item.detalle}}">{{item.detalle}}</td>
                    <td>{{item.fc|date:"d/m/Y "}}</td>
                    <td>{{item.ncompra}}</td>
                    
                    <td>{{item.fecha_programada|date:"d/m/Y" }}</td>
                    {% if item.fecha_revisada == None %}<td class="text-danger">Sin verificar {%else%}<td> {{item.fecha_revisada|date:"d/m/Y" }}{% endif %}</td>
                    <td>{{item.condicion}}</td>
                    <td>
                        <!-- <a href="{% url 'inv:categoria_edit' item.id%}" class="btn btn-warning btn-circle" role="button" ><i class="far fa-edit"></i></a> -->
                        <a href="{% url 'fac:envio_del' item.id %}" class="btn btn-danger btn-circle" role="button" ><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}


        
    </div>
  </div>
{% endblock %}
{% block js_page %}
<script>
//llamar al datatable de jquery   

$(document).ready( function () {
    $('.table').DataTable();
} );
</script>
{% endblock %}
