{% extends 'base/base.html'%}
{% comment %} <style type="text/css">
  table{
  table-layout: fixed;
}

.tablaestatica th{
  width: 130px;
  overflow: auto;
  border: 1px solid;
}
</style> {% endcomment %}
{% block page_content %}
 <!-- Dropdown Card Example -->
 <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Herramienta confiabilidad de existencias</h6>
      <div class="dropdown no-arrow">
        <!-- <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a> -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones:</div>
          
          
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {%if not obj %}
        <div class="alert alert-info">No hay Registros</div>
        {% endif %}
        
            <table  id="mitabla" class="table table-striped table-hover dt-responsive nowrap " style="width:100vp">
              <thead>                
                  <th>Código</th>                 
                  <th>Descripción</th>
                  <th>Existencia</th>
                  <th>Marca</th>
                  <th>U.M.</th>
                  <th>fisico</th>
                  <th>diferencia</th>
                  <th>porcentaje</th>
              </thead>
              <tbody>
                  {%for item in obj  %}
                  <tr>
                    
                      <td>{{item.codigo}}</td>
                      <td style="max-width:150px;overflow:hidden; white-space:nowrap;text-overflow: ellipsis;" data-toggle="tooltip" data-placement="top" title="{{item.descripcion}}">{{item.descripcion}}</td>
                      
                      <td ><input size="8" class="subtotal" type="text"  id="{{item.codigo}}-x" value=" {{item.existencia}}" disabled></td>
                      <td>{{item.marca}}</td>  
                      <td>{{item.unidad_medida}}</td>
                      <td><input type="text"id="{{item.codigo}}" style="width:100px" placeholder="0"></td>
                      <td > <input type="text " id="{{item.codigo}}-1" class="conteo" value="0" size="8" disabled>  </td>
                      <td > <input type="number" id="{{item.codigo}}-y" class="porcentajes" value="0" size="8" disabled>  </td>
                      
                  </tr>
                  {% endfor %}
              </tbody>

            </table>
            

            <div class="form-group">
                
                <div class="container ">
                    <div class="row justify-content-center">
             <button id="btnenvio" class="btn-lg btn-primary col-auto " type="submit"   onClick=" return abrir_modal('{% url 'inv:guardar_preci' %} ')" >enviar</button>
                </div>
                 </div>
                </div>

            </div>
  </div>
{% endblock %}
{% block js_page %}
 {%for item in obj  %} 

<script> 

$('#{{item.codigo}}').change(function(){
        let fisico = +$("#{{item.codigo}}").val();
        let logico= +$("#{{item.codigo}}-x").val();
        let precision =Math.abs(fisico - logico);
        let porcentaje=Math.round((1-(precision/logico))*100);
        $("#{{item.codigo}}-1").val(precision);
        $("#{{item.codigo}}-y").val(porcentaje);
       
 });
 

 </script> 
 
{% endfor%} 

{% endblock %}


